/* http://meyerweb.com/eric/tools/css/reset/ 
        v2.0 | 20110126
        License: none (public domain)
      */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Roboto";
}

.basicInfoCard .title {
  font-size: 2.2em;
  margin-top: 30px;
  margin-left: 1px;
  color: #004d40;
  font-family: "Poppins";
}

.basicInfoCard .title::after {
  content: "Software Engineer";
  display: block;
  font-size: 0.4em;
  color: #6e7b75;
  font-family: "Lato";
  animation: subTitleAnimation 10s infinite;
}

.basicInfoCard,
.skills {
  background: linear-gradient(135deg, #b2beb5, #d1d8d5);
  border-radius: 12px;
  display: flex;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  padding: 30px 30px;
  gap: 10px;
}

.profilePic {
  height: 160px;
  display: block;
  border-radius: 10px;
  border-color: #d3d3d3;
  filter: grayscale(1);
  margin: 0 auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desc span {
  display: inline-flex;
  font-size: 1.4em;
  text-align: left;
  color: #444444;
  line-height: 1.6;
  font-family: "Work Sans";
  margin-left: 20px;
}

.socials a {
  text-decoration: none;
}

.socials {
  font-size: 1.3em;
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
  color: #595959;
}
.socials li:nth-child(1) {
  animation: hireBounce 2s infinite;
}

.socials li:nth-child(1) a {
  color: #595959;
}
.socials li:nth-child(2) a {
  color: #548e8e;
}
.socials li:nth-child(3) a {
  color: #3b8060;
}

.socials a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #000;
}

.personalDetails {
  flex-shrink: 0;
}

@media all and (max-width: 600px) {
  .wrapper {
    padding: 5px;
  }
  .basicInfoCard .title {
    font-size: 2.5em;
    margin-top: 15px;
    text-align: center;
  }
  .basicInfoCard,
  .skills {
    flex-direction: column;
    align-items: center;
    margin: 20px 8px;
  }
  .profilePic {
    height: 260px;
  }

  .desc span {
    margin-top: 20px;
    margin-left: -10px;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
  }

  .socials {
    margin: 0 auto;
  }
}

@keyframes progressBarAnimation {
  from {
    width: 0;
  }
}

@keyframes subTitleAnimation {
  35% {
    content: "Tech Wizard";
  }
  55% {
    content: "Digital Architect";
  }
  75% {
    content: "Program Whisperer";
  }
  95% {
    content: "Script Ninja";
  }
}

@keyframes hireBounce {
  35% {
    transform: scale(1.2);
  }
  95% {
    transform: scale(1);
  }
}
